.BrandCandy{
    min-height: 100px;
    margin-top: 15px;
    text-align: left;
}
.checkstorehealth
{
    padding-bottom: 15px;
    margin-bottom: 28px;
font-family: Inter;
font-style: normal;
}

.EmbeddedApp{
    margin-right: 399px;
    font-family: Source Sans Pro;
    font-style: normal;
  }

  .viewdetaih{
    color:#0CA4DF;
    font-size: 20px;
    margin-left: 255px;
  }
  
  .viewdetaihsecond{
    color:#0CA4DF;
    font-size: 20px;
    margin-left: -73px
  }

  
.toerseurcust {
    margin-left: -25px;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
  }

  .buttoinstallbrndca{
    margin-left: 350px;
  }

.Scannewstore{
    margin-right: 123px;
}

.titileimagessc{
  font-family: Inter;
  font-style: normal;
  margin-right: 85px;
}

.onehuneithree{
  font-family: Inter;
  font-style: normal;
  margin-right: 170px; 
}

.infigfound{
  font-family: Inter;
  font-style: normal;
  margin-left: 29px;
}


.imagescs{
  font-family: Inter;
  font-style: normal;  
  margin-left: 28px;
}

.filterbrands{
  text-align: left;
  margin-left: 277px;
  margin-top: 60px;
}

.checkboxes{
    font-size: 18px;
}

.yourstoretable{
    margin-top: 60px;
    margin-right: 349px
}
.ninperce{
    font-family: Inter;
    font-style: bold;
}
.buttong{
  margin-left: 37px;
  margin-right: 15px;
}

.sincewes{
    margin-left: 145px;
margin-right: -59px;
font-family: Inter;
font-style: normal;
font-size: 20px;
}

.paginationbot{
    margin-left: 650px;
    margin-top: 25px;
}
.unlcoresults{
    margin-left: 10px;
    font-family: Inter;
  font-style: bold;
  }
  
.bottumspaymentdetails{
    margin-right:267px;
    margin-top: 21px;
  }

  
.enterpayment{
    margin-left: 26px;
    font-family: Inter;
  font-style: normal;
  }
  

.titilereporthomepage{
margin-bottom: 56px;
margin-top: 0px;
font-family: Inter;
font-size: "22px" ;
font-style: normal;
}




 
.Reporttitle {
  text-align: 100px;
  color:white;
  background: #3047EB;
  margin-left: 131px;
  /* padding:1px;
  font-size: 32px;  
  padding-right: 632px;
  margin-right: -712px;
  margin-left: 118px; */

  font-family: Inter;
  font-style: normal;
}


.ReScan {  
  color:white; 
 font-family: Inter;
 margin-top: 46px;
 font-style: normal; 
}



.Scannewstore{
  color:white;
  margin-top: 46px;
  font-family: Inter;
  font-style: normal; 
} 