.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.storeusrl{
  margin-right: 12px;
}

.Howitzworks {
  margin-top: 90px;
}

.Reporttitle {
  text-align: 100px;
  color:white;
  background:blue;
  padding:1px;
  font-size: 30px;  
  padding-right: 700px;
}


.tablebotto {
  margin-bottom: 123px;
}

/* .Reporttitlesec {
  text-align: right;
  color:white;
  background:blue;
  padding:1px;
  font-size: 20px;   
} */

.buttong{
 margin-left: "69px" ;
}



.Imagesscanned {
  border-style: ridge;
}


.App-link {
  color: #61dafb;
}

.BrandCandy 
{ 
  margin-right: 1000px; 
  font-size: 22px;
}

.contact_submit2{
  margin-right:16px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
