.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


 
.Howitzworks {
  margin-top: 90px;
  font-family: Inter;
font-style: normal;
font-weight: bold;
}

.imgmargin{
  margin-right: 122px;
}
.imgmarginsdaf{
  margin-left:180px;
}

/* .EmbeddedApp{
  margin-right: 499px;
  font-family: Source Sans Pro;
  font-style: normal;
} */

.myshopico{
  margin-left: -412px;
}

.youmaynot{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  margin-right: 30px;
}

.wearenotaff{
  font-family: Inter;
font-style: normal;
margin-right: 52px;
}


.brncandico{  
margin-right: -396px;
margin-top: -139px;
}

.middleicon{
  margin-right: -90px;
margin-top: -139px;
}




.Embeddedapp{
  font-family: halis grotesque bold;
  font-style: normal;
  margin-left: 30px;
}


.Reportpagethankstab {
  background-color: limegreen;
  color: aliceblue;
  margin-top: -29px;
}

.Reportpagereportdownloadtab{
  background-color: #FFD855;
  margin-top: -29px;
}


.brndcanimge{
  margin-right: -165px;
}

.tesarepaymen{
  width: "242px"; 
  height:"33px";
}


.bottomtableofpopoup{
  margin-top: -613px;
}



/* 
.Reporttitle {
  text-align: 100px;
  color:white;
  background: #3047EB;
  padding:1px;
  font-size: 32px;  
  padding-right: 632px;
  font-family: Inter;
  font-style: normal;
  margin-right: -712px;
  margin-left: 118px;
} */


/* .ReScan {
  margin-right: 80px;
  margin-left: -58px;
  color:white;
  background: #3047EB;
  /* padding:1px; */
  /* font-size: 12px;   */
  /* padding-right: 700px;
  font-family: Inter;
  font-style: normal; */
/* } */ */

/* .bottumspaymentdetails{
  margin-right: 377px;
    margin-top: 19px;
} */

/* .unlcoresults{
  margin-left: 34px;
  font-family: Inter;
font-style: normal;
} */

/* .Scannewstore{
  margin-right: 157px;
   color:white;
   background: #3047EB; */
   /* padding:1px; */
   /* font-size:  12px;   */
   /* padding-right: 700px;
   font-family: Inter;
   font-style: normal; */
/* } */

/* .filterbrands{
  margin-left: 257px;
} */

/* .yourstoretable{
  margin-right: 364px;
} */


.cardtextcar{
  margin-right: 265px;
}


.minishoeicons{
  margin-right: -530px;
}

.alimiheaderpage{
  margin-bottom: -48px;
  margin-top: -33px;
}

.aluminititl{
  font-family: Inter;
  font-style: normal;
  margin-right: 106px;
}

.newarriv {
  font-family: Inter;
  font-style: normal;
  margin-right: 1206px;
}

.ourfallc{
  font-family: Inter;
  font-style: normal;
}

.tablebotto {
  margin-bottom: 123px;
}

.carbonpagetable{
  background: black;
  color: black;
  font-family: Inter;
  font-style: normal;
  margin-top: -12px;
}

.carbonpagetablese {
  background: black;
  color: black;
  margin-top: -41px;
}


.HomDesingerseNike{
  margin-right: 898px;
}

.nikeu{
  margin-right: 410px;
  font-family: Inter;
  font-style: normal;
}

.nikeuPRODUCT {
  margin-right: 160px;
  font-family: Inter;
  font-style: normal;
}


.paragnikealt {
  margin-right: 15px;
  font-family: Inter;
  font-style: normal;
}

.nikeuse{
  margin-right: 295px;
  font-family: Inter;
  font-style: normal;
}


.nikeusesp {
  margin-right: 280px;
  font-family: Inter;
  font-style: normal;
}


.btn-group button {
  background-color: white; /* Green background */
  border: 1px solid rgb(7, 14, 7); /* Green border */
  color: black; /* White text */
  padding: 08px 14px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: center; /* Float the buttons side by side */
}



/* .Reporttitlesec {
  text-align: right;
  color:white;
  background:blue;
  padding:1px;
  font-size: 20px;   
} */

/* .buttong{
 margin-left: "69px" ;
} */



.Imagesscanned {
  border-style: ridge;
}


.App-link {
  color: #61dafb;
}

/* .BrandCandy 
{ 
  margin-right: 1250px;
  margin-top: -32px;
  font-family: Brandon Grotesque;
}   */



/* .checkstorehealth {

font-family: Inter;
font-style: normal;
margin-top: 91px;
font-size: 70px;
line-height: 80px;
} */

.counterfeitsandIPinf {
  font-family: Inter;
  font-style: normal;
  margin-top: -27px;
}

.contact_submit2{
  margin-right:16px;
  font-family: Inter;
font-style: normal;
}

.likecarpon{
  border-radius: 50%;
}


.titleduetosite{
font-family: Inter;
font-style: normal;
font-Size: 15px;
}

.subtitilecarbon{  
font-family: Inter;
font-style: normal;
}

.card_text{
  font-family: Inter;
font-style: normal;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
